<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <h1>Ваша корзина:</h1>
    <ol>
        <li>
            <h2>IPhone 16 - 120 000 р.</h2>
        </li>
        <li>
            <h2>Чехол для IPhone 16 - 1 500 р.</h2>
        </li>
        <p> <strong> Итого: 121 500 р.</strong></p>
        <button><h3>Оплатить</h3></button>
    </ol>
    <form action="/">
        <button><h3>Вернуться на главную</h3></button>
    </form>
</body>
</html>