<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Витрина</h1>
    <ul>
        <li>
            <h2>{{ phone1 }} <button>Купить</button></h2>
        </li>
        <li>
            <h2>{{ phone2 }} <button>Купить</button></h2>
        </li>
        <li>
            <h2>{{ phone3 }} <button>Купить</button></h2>
        </li>
    </ul>
    <form action="/">
        <button><h3>Вернуться на главную</h3></button>
    </form>
</body>
</html>